* {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   background-color: rgb(224, 241, 255);
}

/* Nav Section */
nav {
   height: 50px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 50px;
}

nav h1 {
   font-size: 32px;
   font-weight: 400;
}

#anchor a {
   margin-left: 20px;
   text-decoration: none;
   color: black;
   font-size: 24px;
}

/* Header Section */
header {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 25px;
   gap: 50px;
}

header img {
   height: 400px;
   width: 400px;
   border-radius: 50%;
   gap: 20px;
}

#profile {
   text-align: center;
   line-height: 50px;
}

#profile p {
   font-size: 18px;
   font-weight: bold;
   color: rgb(81, 81, 81);
}

#profile h1 {
   font-size: 50px;
   font-weight: bold;
}

#profile h2 {
   font-size: 30px;
   color: rgb(100, 100, 100);
}

#profile button {
   padding: 20px;
   border-radius: 30px;
   font-size: 14px;
   font-weight: bold;
   background-color: rgb(100, 100, 100);
   color: white;
   border: none;
   margin-right: 15px;
}

#profile button:hover {
   background-color: rgb(40, 40, 40);
   color: white;
   cursor: pointer;
}

#profile a {
   text-decoration: none;
   color: white;
   background-color: rgb(100, 100, 100);
   font-size: 14px;
   font-weight: bold;
   padding: 20px;
   border-radius: 30px;
}

#profile a:hover {
   background-color: rgb(40, 40, 40);
}

/* About-Me Section */
#ph1 {
   text-align: center;
   line-height: 50px;
   margin-bottom: 50px;
}

#ph1 p {
   color: rgb(81, 81, 81);
}

#ph1 h1 {
   font-size: 46px;
   font-weight: bold;
}

#me {
   display: flex;
   justify-content: center;
}

#me img {
   height: 400px;
   width: 330px;
   border-radius: 40px;
   margin-right: 60px;
}

#exp-edu {
   display: flex;
   gap: 40px;
   margin-bottom: 20px;
}

#sub-exp p {
   max-width: 720px;
   line-height: 25px;
   color: rgb(100, 100, 100);
}

#Experience {
   text-align: center;
   border: 2px solid grey;
   border-radius: 30px;
   padding: 30px;
}

#Education {
   text-align: center;
   border: 2px solid grey;
   border-radius: 30px;
   padding: 20px;
}

/* Experience/Skill Section */
#skills {
   margin-top: 100px;
}

#front-back {
   display: flex;
   justify-content: center;
   gap: 40px;
}

#front-back dt {
   font-weight: bold;
   font-size: 20px;
   line-height: 32px;
}

#front-back dd {
   font-weight: bold;
   font-size: 18px;
   color: rgb(100, 100, 100);
}

#frontend {
   text-align: center;
   border: 2px solid grey;
   padding: 30px;
   border-radius: 30px;
}

#front-back h1 {
   font-size: 40px;
   color: rgb(81, 81, 81);
}

#backend {
   text-align: center;
   border: 2px solid grey;
   padding: 30px;
   border-radius: 30px;
}

/******* Project Section *******/
#projects {
   margin-top: 60px;
   text-align: justify;
}

#ScreenShot {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
}

.one {
   height: 250px;
   border: 2px solid grey;
   border-radius: 40px;
   padding: 30px;
   background-color: rgb(255, 255, 244);
   margin-bottom: 10px;
}

/* Footer section */
footer {
   margin-top: 50px;
}

#mail-git {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid grey;
   border-radius: 50px;
   padding: 20px;
   margin: 0 400px 100px;
   gap: 50px;

}

#mail {
   display: flex;
   align-items: center;
}

#mail-git img {
   height: 45px;
   cursor: pointer;
}

#git {
   display: flex;
   align-items: center;
}

#mail-git a {
   text-decoration: none;
   color: black;
   font-weight: 500;
}

#mail-git a:hover {
   color: grey;
   font-size: 17px;
   text-decoration: underline;
}

#AEPC a {
   text-decoration: none;
   color: black;
   font-size: 26px;
   margin: 20px; 
   line-height: 80px;
}
#AEPC{
   text-align: center;
}

#AEPC a:hover {
   color: grey;
   text-decoration: underline;
}


footer p {
   color: rgb(81, 81, 81);
   margin: 20px;
   text-align: center;
}

@media only screen and (max-width:465px) {
   nav {
      display: flex;
      justify-content: center;
   }

   nav h1 {
      font-size: 20px;
   }

   #anchor a {
      display: flex;
      font-size: 16px;
   }

   /* Header Section */
   header {
      display: block;
      margin-left: auto;
      margin-right: auto;
   }

   header img {
      height: 300px;
      width: 300px;
      display: block;
      margin-left: auto;
      margin-right: auto;
   }

   #profile {
      line-height: 35px;
      text-align: center;
   }

   #profile h1 {
      font-size: 36px;
   }

   #profile h2 {
      font-size: 20px;
   }

   #ph1 {
      margin: 40px 0 10px;
      line-height: 35px;
   }

   #ph1 h1 {
      font-size: 38px;
   }

   #me {
      display: inline-block;
      text-align: center;
   }

   #me img {
      height: 200px;
      width: 150px;
      border-radius: 15px;
      margin-right: 12px;
   }

   #exp-edu {
      display: inline-block;
   }

   #Experience {
      padding: 20px;
      margin: 20px 30px;
      border-radius: 20px;
   }

   #Education {
      padding: 20px;
      margin: 20px 30px;
      border-radius: 20px;
   }

   #sub-exp p {
      text-align: center;
      margin: 0 10px;
   }

   #sub-exp #para {
      text-align: justify;
   }

   /* Experience/Skill Section */
   #ph1 h1 {
      font-size: 30px;
   }

   #front-back {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 16px 21px;
   }

   #frontend {
      padding: 18px 10px;
      margin: 10px 18px;
   }

   #backend {
      padding: 18px 10px;
      margin: 10px 18px;
   }

   #front-back h1 {
      font-size: 20px;
      color: rgb(81, 81, 81);
   }

   /******* Project Section *******/
   .one {
      height: 100px;
      border-radius: 30px;
   }

   /* Footer Section */
   #mail-git {
      display: block;
      margin: 0 20px;
      border-radius: 20px;
      padding: 5px;
   }
   #AEPC a{
      display: block;
      font-size: large;
      line-height: 30px;
   }
}